%table.foremost.sortable
  %thead
    %tr
      %th.sorttable_hex offset
      %th size
      %th type
      %th comment
  %tbody
    - @foremost.each do |row|
      %tr
        %td= row[2].to_s(16)
        %td= row[1]
        %td.type<
          %span{:class => h(row[0]).strip.downcase}= h row[0]
        %td.comment= h row[3]
        %td.tools<
          %a.dl{ :href => url_for(params[:hash], :dl_part, :start => row[2], :size => row[1], :ext => row[0].downcase) }

%script(type="text/javascript" src="/js/sorttable.js")
