%form(method="POST" enctype="multipart/form-data")
  %table
    %tr
      %td file:
      %td
        %input(type='file' name='file')
      %td(rowspan="2")
        %input(type="submit")
    %tr
      %td or url:
      %td
        %input(name='url')
    -#%tr
      %td comment:
      %td
        %input
      %td.comment
        (optional)
    -#%tr
      %td(colspan=2 align="center")
        %input(type="submit")

%table.index
  - @recent.each do |metadata|
    %tr
      %td 
        %a(href="#{metadata[:md5]}/")= metadata[:filename] || "??"
      %td.size= number_to_human_size metadata[:size]
      %td.type= metadata[:type].split(',',2).first
