body
  font-family: Verdana
  font-size: 9pt

tt, pre, code, pre a
  font-family: Monospace

p.copyright
  color: #ccc
  text-decoration: none
  font-size: 10pt
  text-align: right
  a
    color: #ccc
    text-decoration: none
    font-size: 10pt
    text-align: right

form .comment
  font-size: 10pt
  color: #ccc

table.metadata
  border-collapse: collapse
  margin-top: 5px
  td, th
    border: solid 1px #ccc
    padding: 1px 5px
  th
    font-weight: normal
    text-align: left
  td
    font-family: Monospace
  td.tools
    border-right: none
    border-top: none
    border-bottom: none
    vertical-align: top

a.dl
  display: block
  width: 16px
  height: 16px
  background: url(/download.png) no-repeat
  float: left
a.analyze
  display: block
  width: 16px
  height: 16px
  background: url(/magnifier.png) no-repeat
  float: left

table.foremost
  @extend table.metadata
  td, th
    text-align: right
    font-family: Monospace
  th
    text-align: center
  td.type
    text-align: center
    font-family: Verdana
    font-weight: bold
    font-size: 10pt
    .gif, .jpg, .png, .bmp
      color: #0b0
  td.comment
    color: #ccc
    padding-left: 1em
    border-right: none
    border-top: none
    border-bottom: none
    text-align: center
  td.tools
    padding-left: 10px
    border: none
    vertical-align: top
    opacity: 0.2
    &:hover
      opacity: 1

#header a
  &.root
    text-decoration: none
    color: #ccc
    font-size: 10pt
    position: absolute
    top: 2
    left: 5
  &.copyright
    text-decoration: none
    color: #ccc
    position: absolute
    top: 2px
    right: 5px

a.reload
  display: block
  width: 16px
  height: 16px
  background: url(/reload.png) no-repeat

.red
  color: red

div.histogram
  height: 200px
  margin: 5px
  p
    position: relative
    float: left
    padding: 0
    margin: 0
    width: 4px
    background-color: #555
    &.zero
      background-color: #eee

table.sortable
  th
    cursor: pointer
